.App {
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 768px) {
  .App {
    max-width: 50%;
  }
}

.schools-header {
  text-align: center;
}

.schools-nav {
  margin-bottom: 0;
}

.schools-list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.schools-list-item .school-name {
  font-weight: 500;
}

.schools-list-item.open .school-name {
  font-weight: 700;
  margin-bottom: 10px;
}

.schools-list-item > div {
  padding: 5px 0;
  cursor: pointer;
  display: inline-block;
}

.school-name {
  margin: 0;
}

.school-details {
  display: none;
}

.school-details strong {
  font-weight: 600;
}

.school-details ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
}

.school-details ul ul {
  padding: 0 0 0 25px;
  list-style-type: disc;
}

.schools-list-item.open .school-details {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px dashed grey;
}
